@font-face {
  font-family: 'ActionMan';
  src: url(/fonts/Action_Man.ttf) format('truetype');
}

@font-face {
  font-family: 'ActionManBold';
  src: url(/fonts/Action_Man_Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'ActionManShaded';
  src: url(/fonts/Action_Man_Shaded.ttf) format('truetype');
}

