//= require_self
//= require_tree .

// Fonts
@font-face {
  font-family: 'ActionMan';
  src: url(/fonts/Action_Man.ttf) format('truetype');
}

@font-face {
  font-family: 'ActionManBold';
  src: url(/fonts/Action_Man_Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'ActionManShaded';
  src: url(/fonts/Action_Man_Shaded.ttf) format('truetype');
}

// Mixins
@mixin box-shadow($offset-x, $offset-y, $blur, $color) {
  box-shadow: $offset-x $offset-y $blur $color;
  -moz-box-shadow: $offset-x $offset-y $blur $color;
  -webkit-box-shadow: $offset-x $offset-y $blur $color;
}

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

* {
  background-color: #FCFCFC;
  font-family: 'ActionMan';
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: underline;
}

img {
  @include box-shadow(2px, 2px, 10px, #000);
  @include rounded-corners(5px);
  height: 100%;
}

div#copyright {
  bottom: 10;
  display: block;
  font-size: 0.6rem;
  margin: auto;
  position: absolute;
  text-align: center;
  width: 100%;
}

div#welcome {
  font-size: 1.25rem;
  margin: 40px 0;
  text-align: center;
  width: 100%;
  span#title {
    font-family: 'ActionManBold';
  }
  div#moretocome {
    font-size: 0.85rem;
    margin: 10px 0;
  }
}

div.image {
  height: 50%;
  margin: auto;
  text-align: center;
}

