#welcome
  = '-'
  %span#title='smallanimalsincostumes'
  = '[dot] com -'

#display
  #left.arrow
  #image
    = image_tag '', id: 'animal'
  #right.arrow

#info
  #index
  %span.of='of'
  #total
    = @total

